<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<typeAliases>
  		<typeAlias type="com.injoit.mvc.bean.EmployeeDTO" alias="employee"/>
  		<typeAlias type="com.injoit.mvc.bean.EmpAttendanceDTO" alias="empAttendance"/>
  		<typeAlias type="com.injoit.mvc.bean.AuthDTO" alias="emp_auth"/>
  		<typeAlias type="com.injoit.mvc.bean.CalendarDTO" alias="calendar"/>
  	</typeAliases>
</configuration>