<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.injoit.mvc.repository.AdminMapper">
	<select id="employeeCnt" resultType="int">
		select count(*) from employee
	</select>
	<select id="showAllEmployee" parameterType="hashmap" resultType="employee">
		<![CDATA[
			SELECT e.*, d.departname
			FROM (
			    SELECT e.*, ROWNUM r
			    FROM (
			        SELECT *
			        FROM employee
			    ) e
			    WHERE ROWNUM <= #{end}
			) e
			JOIN department d ON e.departnum = d.departnum
			WHERE e.r >= #{start}
		]]>
	</select>
	<select id="isCommute" parameterType="hashmap" resultType="int">
		SELECT count(*)
		FROM emp_attendance
		WHERE TRUNC(onwork) = TO_DATE(#{day}, 'YYYY/MM/DD')
  		and employeenum=#{employeenum}
	</select>
	<select id="isOffWork" parameterType="hashmap" resultType="int">
		SELECT count(*)
		FROM emp_attendance
		WHERE TRUNC(onwork) = TO_DATE(#{day}, 'YYYY/MM/DD')
  		and employeenum=#{employeenum} and offwork is not null
	</select>
	<insert id="onWorkEmp" parameterType="hashmap">
		insert into emp_attendance(employeenum, onwork) 
		values(#{employeenum}, sysdate)
	</insert>
	<update id="offWorkEmp" parameterType="hashmap">
		update emp_attendance set offwork=sysdate where employeenum=#{employeenum}
	</update>
</mapper>